# Folders
node_modules/
build/
dist/
docs/
.husky/
.vscode/
# shadcn/ui components
src/components/ui/

# Files
*.yaml

# NPM Packages
package-lock.json
yarn.lock
pnpm-lock.yaml

# Eslint
.eslintignore
.eslintrc.json

# Lint-staged
.lintstagedrc.json