# Folders
node_modules/
build/
dist/
docs/
.husky/
# shadcn/ui components
src/ui/components/ui

# Files
*.yaml

# NPM Packages
package-lock.json
yarn.lock
pnpm-lock.yaml

# Eslint
.eslintignore
.eslintrc.json

# Lint-staged
.lintstagedrc.json